# FitTrack Cloud Database Configuration
# Replace [YOUR-PASSWORD] with the database password you chose when creating your Supabase project:
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.ukdvngqxnttbuksdgzxl.supabase.co:5432/postgres"

PORT=8080
